[Desktop Entry]
Type=Application
Name=GPU Passthrough GTK
Comment=Configure VFIO GPU Passthrough
Exec=sudo -E /usr/bin/gpu-passthrough-gtk
Icon=/usr/share/icons/vfio-icon-gtk.png
Terminal=true
Categories=System;Administration;
